form{
    display: grid;
    grid-template-columns: 500px;
    justify-content: center;
    text-align: center;
}
.logosRedesSociales{
    height: 60px;
}
.logoPyaRappi{
    height: 300px;
}
.horarios{
    display: flex;
    justify-content: center;
}